* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  font-family: "Courier New", Courier, monospace;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-container {
  background-color: #fff;
  width: 400px;
  padding: 1rem;
}

.input {
  display: flex;
}

.input-box {
  flex: 1;
}

.todos {
  display: flex;
  flex-direction: column;
}

.todo {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

.todo-text {
  flex: 1;
}
